* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

#page-login, #page-register {
    padding: 10px;
}

#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #B2DFEE;
    padding: 10px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

#page-feed {
    margin-top: 10vh;
}

#feed-container {
    padding: 10px;
}
