* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

#page-login,
#page-register {
    padding: 10px;
    padding-top: 10vh;
}

#errorPopup {
    z-index: 99999 !important;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border: 1px solid #E7E7E7;
}

.top-bar>h1 {
    color: #0A66C2;
    font-size: clamp(24px, 8vw, 60px);
    margin: 0;
}

.top-bar .button-group {
    display: flex;
    gap: 10px;
}

.top-bar h1 .subtext {
    font-size: clamp(12px, 4vw, 30px);
    margin-left: 10px;
    opacity: 0.8;
}

#page-feed,
#page-my-profile {
    margin-top: 10vh;
}

#feed-container {
    padding: 10px;
}

.job-modal-content {
    overflow-y: auto;
    max-height: 100%;
    padding: 15px;
}

.jobCommentsModal {
    --bs-modal-width: 100%;
}

.jobCommentsModal>.modal-dialog {
    width: 80vw;
    height: 80vh;
    margin: auto;
}

.jobCommentsModal>.modal-dialog>.modal-content {
    width: 100%;
    height: 100%;
    margin-top: 5vh;
}

.job-modal-block,
.profile-watcher-name-block {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.job-modal-text {
    font-size: 1rem;
    color: #1C1C1C;
    margin: 0;
}

.username-modal-style {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
}

.profile-card {
    width: 100%;
    max-width: 80vw;
    margin: 11vh auto 0;
    background: white;
    border: 1px solid #E7E7E7;
}

.profile-header {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 20px;
    background: #0A66C2;
    color: white;
}

.profile-avatar {
    flex: 0 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* make the avatar a circle */
    overflow: hidden;
}

.profile-text-content {
    flex: 1;
    margin-left: 10px;
}

.profile-buttons {
    margin-left: auto;
    white-space: nowrap;
}

.avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    margin: 0;
    font-size: 24px;
}

.profile-email {
    margin: 5px 0 0;
    font-size: 14px;
}

/* use left right disply */
.profile-content {
    display: flex;
    width: 100%;
}

/* job container left 80% */
.profile-job-container {
    width: 80%;
    padding: 15px;
    background: #f5f5f5;
    overflow: auto;
    max-height: 75vh;
}

/* watcher container right 20%*/
.watcher-section {
    width: 20%;
    padding: 15px;
    background: white;
    border-left: 1px solid #f5f5f5;
    overflow: auto;
    height: 75vh;
}

.btn-small {
    display: none;
}

#feed-no-more,
#feed-loading {
    text-align: center;
    padding: auto 0;
}

@media (max-width: 750px) {
    .profile-content {
        flex-direction: column;
    }

    .profile-job-container,
    .watcher-section {
        width: 100%;
        max-height: none;
        height: auto;
    }

    .profile-job-container {
        height: 75vh;
        border-left: none;
        border-bottom: 1px solid #f5f5f5;
    }

    .watcher-section {
        height: 25vh;
    }

    .profile-avatar {
        display: none;
    }

    .btn-big {
        display: none;
    }

    .btn-small {
        display: block;
    }
}

@media (max-width: 1100px) {
    .top-bar h1 {
        /* don't display h1 since there will be no space in one line*/
        font-size: 0;
    }
    #page-login > .top-bar > h1, #page-register > .top-bar >h1 {
        font-size: clamp(12px, 10vw, 60px);
    }

    .top-bar h1 .subtext {
        /* only show subtext, but with h1's style */
        color: #0A66C2;
        font-size: clamp(12px, 7vw, 60px);
        margin: 0;
        opacity: 1;
    }
}